/* Palette colori */
:root {
    --color-white: #ffffff;
    --color-bg-color: #F6F5F3;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
    --color-grey-text: #A9A9AA;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug class  */
.debug {
    border: 1px solid red;
}

/* Utilities */

/* CLASSE IMMAGINI FLUIDE */
img {
    width: 100%;
    display: block;
}

/* Backgroud */
.bg-white {
    background-color: var(--color-white);
}

.bg-primary {
    background-color: var(--color-primary);
}

.text-white {
    color: var(--color-white);
}


/* General */
header,
footer {
    min-height: 70px
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: var(--color-bg-color);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    color: var(--color-contrast);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Flex utility */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* .j-start {
        justify-content: flex-start;
    } */

.j-center {
    justify-content: center;
}

.j-space-between {
    justify-content: space-between;
}

.j-space-around {
    justify-content: space-around;
}

.a-center {
    align-items: center;
}


/* Main */
main {
    background-color: var(--color-bg-color);
    padding: 20px;
}

h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 500;
}

h3 {
    color: var(--color-dark-text);
    font-size: 2em;
    font-weight: 800;
    padding: 8px 0;
}

h4 {
    font-weight: normal;
    font-size: 1.2em;
    color: var(--color-grey-text);
    text-transform: uppercase;
}

h5 {
    font-size: 1.2em;
}

ul {
    list-style: none;
    list-style-position: outside;
}


/* Sezione card-section * 
     * -------------------- */
.card-recipe {
    background-color: var(--color-bg-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 18px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-recipe img {
    margin-top: 10px;
}

.content-recipe-card {
    padding: 25px 0px;
}

.content-recipe-card div>h5 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-recipe-card div ul>li {
    padding: 8px 0;
}

.content-recipe-card div ul>li span {
    font-weight: bold;
}

.content-list {
    margin: 0 20px;
}

/* Sezione social-icon * 
     * -------------------- */
.social-icon {
    padding: 35px 0;
}

/* Testo icone in MAIUSCOLO E NASCOSTO*/
.social-icon .card-icon>a>span {
    text-transform: uppercase;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: none;
}

.card-icon {
    cursor: pointer;
    background-color: var(--color-white);
    border-radius: 40%;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-icon a {
    text-decoration: none;
    color: var(--color-black);
}

/* Colore  icone */
.social-icon>.card-icon>a>.fa-facebook {
    color: #1A77F3;
}

.social-icon>.card-icon>a>.fa-twitter {
    color: #009EFF;
}

.social-icon>.card-icon>a>.fa-instagram {
    color: #DE6E8A;
}

.social-icon>.card-icon>a>.fa-pinterest {
    color: #E62423;
}

.social-icon>.card-icon>a>.fa-youtube {
    color: #E62222;
}

/* Sezione ads (advertising) * 
     * -------------------- */
aside {
    display: none;
    margin-bottom: 30px;
}


/* Sezione recipe-description * 
     * -------------------- */
.recipe-description {
    margin-bottom: 25px;
}

.recipe-description hr {
    width: 15%;
    border: 1px solid var(--color-contrast);
    margin-top: 20px;
}

.image-description {
    width: 70%;
    margin: 0 auto;
}

.content-recipe .image-description img {
    margin-bottom: 20px;
}

/* Sezione footer * 
     * -------------------- */
footer {
    padding: 20px 30px;
    line-height: 25px;
}

.company-data {
    padding-bottom: 5px;
}

.company-data p:first-child {
    font-weight: bold;
}

.footer-menu ul li>a {
    color: var(--color-white);
}

.footer-menu ul {
    gap: 25px;
}



/* Media query */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {

    /* Assegno ad header la classe .j-start per riferimento,
cioè non la dichiaro direttamente sull'html
ma la aggiungo dopo */
    header.j-start {
        justify-content: flex-start;
        padding-left: 30px;
    }

    main {
        padding: 40px;
    }

    .card-section h3::after {
        content: " (Dolce Tradizionale)";
    }

    .content-recipe-card ul {
        display: flex;
        flex-wrap: wrap;
    }

    .content-recipe-card ul li {
        width: calc(100% / 3);
        flex-wrap: wrap;
    }

    .card-icon {
        border-radius: 20px;
        padding: 10px 45px;
    }

    aside {
        display: block;
    }

    .content-recipe {
        margin: 0;
    }

    .content-recipe .image-description {
        width: 40%;
        float: left;
        margin-right: 10px;
    }

    .card-section p {
        width: 60%;
    }

    .content-recipe .image-description img {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .content-recipe .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
}

@media screen and (min-width: 992px) {
    .content-recipe-card {
        display: flex;
    }

    .content-recipe-card .content-list {
        width: 100%;
    }

    /* Aumento il margine tra la foto del tiramisù
    nella sezione card-section e il test "In Breve"
    della ricetta */
    .content-recipe-card {
        margin: 0 40px;
    }

    .content-recipe-card img {
        width: 60%;
        margin-top: 0px;
    }

    .card-recipe .content-recipe-card ul {
        flex-direction: column;
    }

    .social-icon .card-icon>a>span {
        display: block;
    }

    /* Allungo il contenuto delle list item ricette 
    al 100% del suo contenitore padre */
    .content-list ul li {
        width: 100%;
    }

    .card-icon {
        border-radius: 20px;
        padding: 10px 30px;
    }
    
    .image-description img {
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .company-data {
        align-items: flex-start;
    }
}